/* https://github.com/quarto-dev/quarto-cli/blob/main/src/resources/formats/html/bootstrap/themes/darkly.scss */

/*-- scss:defaults --*/
$blue:    #2c3e50;

$primary:       $blue;

$link-color: $primary;
