/* https://github.com/quarto-dev/quarto-cli/blob/main/src/resources/formats/html/bootstrap/themes/flatly.scss */

/*-- scss:defaults --*/
$body-bg: #fdfdfd;
$body-color: #505457; /*#7e848a;*/
/*$blue: #2c3e50;
$primary: $blue;*/
$primary: rgba(78, 115, 77);
$link-color: #528672;
/*$link-color: $primary;*/
/*$navbar-color: #2f4f3a;*/
/*$navbar-dark-color*/
$navbar-bg: rgba($primary, 0.95);
$dropdown-bg: rgba(#ecc187, 0.90);
$dropdown-link-hover-bg: rgba(#376550, 0.70);
$card-border-color: $body-color;

/*-- scss:rules --*/
/*#quarto-header > .navbar-dark {
  background-color: rgb(47, 79, 58, 0.95);
}*/
#quarto-header {
  box-shadow: 0px 10px 10px -5px rgba(0,0,0,0.5);
}
.quarto-title-banner {
  box-shadow: 0px 10px 10px -5px rgba(0,0,0,0.5);
}
/* Title Headers */
h1, h2, h3, h4, h5, h6 {
  color: $primary; /*#597557;*/
}
/* Posts */
.card-footer {
  color: darken($body-bg, 5%);
  background-color: lighten($navbar-bg, 2%);
}
