@media (max-width: 768px) {
  .navbar-title-container .nav-link {
    --bs-nav-link-padding-x: 0.5rem;
  }
}
@media (max-width: 765px) {
  .navbar-brand > .navbar-title {
    display: inline-block;
    color: transparent;
    width: 0;
  }
}
@media (max-width: 521px) {
  .navbar-title-container {
    font-size: 0;
    width: 0;
  }
}
