/*-- General Styling --*/
html {
  scroll-behavior: smooth;
}
main {
  font-size: 0.95em;
}
figcaption.figure {
  display: block;
  text-align: center;
}
.table {
  width: unset;
  margin: auto;
}
/* Links */
a {
  text-decoration-line: unset;
}
a:hover {
  text-decoration-line: underline;
}
/*-- external link style --*/
a.external:after {
  font-size: 0.75em;
  vertical-align: top;
}
.nav-footer a.external:after {
  font-size: 0;
}

/* About */
.about-contents {
  text-align: justify;
}

/*-- Navbar --*/
.navbar-container.container-fluid {
  flex-wrap: nowrap; /* for Chrome */
  padding-left: 0;
  padding-right: 0;
}
.nav-link {
  --bs-nav-link-padding-y: 0.3125rem;
}
nav .nav-item:not(.compact) {
  padding-top: unset;
  font-size: 1.1em;
}
.navbar .quarto-code-tools {
  order: 21;
}
#navbarCollapse {
  flex-basis: unset;
  flex-grow: unset;
  line-height: initial;
}
a.navbar-brand {
  --bs-navbar-brand-hover-color: var(--bs-navbar-hover-color);
  margin: 0;
}
.navbar-title-container {
  order: 3;
}
.navbar #quarto-search {
  order: 999;
}
.navbar .quarto-navbar-tools {
  order: 900;
  flex: none;
}
a.navbar-brand {
  background-image: url('../img/favicon.png');
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 45px;
}
/* Source Code */
div.sourceCode::-webkit-scrollbar {
  display: none; /* Chrome */
}
div.sourceCode {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  border-width: 2px;
  border-style: solid;
  border-radius: .5rem;
  margin-top: .5rem;
}
div > details > summary {
  padding: 0.1rem 0.7rem 0.2rem 0.7rem;
  width: max-content;
  max-width: fit-content;
  border-width: var(--quarto-border-width);
  border-style: solid;
  border-radius: var(--quarto-border-radius);
  box-shadow: 0 .2rem .5rem #6c757d,0 0 .05rem #6c757d;
}
pre.sourceCode > .code-copy-button > .bi::before, pre.sourceCode:hover > .code-copy-button > .bi::before {
  content: "";
  height: 1.5rem;
  width: 1.5rem;
  background-size: 1.5rem 1.5rem;
}
/* tools */
.quarto-navbar-tools > div.nav-item {
  padding-left: 0.25em;
  padding-right: 0.25em;
  --bs-nav-link-color: var(--bs-navbar-color);
  --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
}
.navbar-brand-container {
  display: block;
  flex: none;
  padding-top: 2px;
  padding-bottom: 2px;
}
.navbar {
  --bs-navbar-padding-y: 0.5rem;
}
/* for mobile */
.nav-link.dropdown-toggle {
  outline: none;
}
.nav-item.dropdown {
  outline: none;
}
/* media icons */
.rss > .fa-rss, .rss > .fa-square-rss {
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg,#f87900 0%,#fe4f45 51%,#e419ba 100%);
  -webkit-text-fill-color: transparent;
}
.rss > .fa-rss:hover, .rss > .fa-square-rss:hover {
  background-image: linear-gradient(-90deg,#f87900 0%,#fe4f45 51%,#e419ba 100%);
}
.instagram > .fa-square-instagram {
  background-clip: text;
  -webkit-background-clip: text;
  background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-text-fill-color: transparent;
}

/* footer */
@media (max-width: 671px) {
  .nav-footer {
    flex-direction: column;
  }
  .nav-footer > .nav-footer-left {
    order: 2;
  }
  .nav-footer > .nav-footer-center {
    order: 1;
  }
  .nav-footer > .nav-footer-right {
    order: 3;
  }
}
.nav-footer {
  align-items: center;
}
.nav-footer .nav-footer-center {
  margin: 0;
  font-size: 1em;
}
.nav-footer a:hover > i.bi, .nav-footer a:hover i.fa-brands, .nav-footer a:hover iconify-icon, .nav-footer a:hover i.fa-solid {
  color: #747474;
}
.nav-footer a:hover i[class*='fa-square'], .nav-footer a:hover i[class*='fa-rocket'] {
  background-color: #747474;
  background-image: unset;
}
.footer .fa-heart-pulse:hover {
  color: #bd112a;
}
.footer .fa-twitter {
  color: #1d9bf0;
}
.footer .fa-rocket {
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg,#f87900 0%,#fe4f45 51%,#e419ba 100%);
  -webkit-text-fill-color: transparent;
}
.footer .bi-linkedin {
  color: #0a66c2;
}
.footer .bi-github {
  color: #000000;
}
.footer .bi-mastodon {
  color: #5e64f8;
}
.footer .bi-youtube {
  color: #ff0000;
}
.footer [icon^="ph:tennis-ball-fill"] {
  color: #d3e92a;
}

#quarto-back-to-top {
  bottom: 1.5em;
}
#scroll-padding {
  padding: 1.5em;
}

