@import 'https://fonts.googleapis.com/css?family=Questrial';

h1 > .fa-rocket {
  font-style: italic;
}
h1 {
  text-align: center;
  /*color: #00A3E2;*/
  color: #4e734d;
  font-size: 30px;
  font-family: Garamond;
  font-weight: unset;
  margin: unset;
}
h2, h3 {
  color: black;
}
h2 {
  text-align: center;
  text-decoration: underline;
  font-size: 16.5px;
  font-family: 'Century Gothic', 'Questrial';
  font-weight: unset;
  margin: 0px 0px 4px 0px;
}
h3 {
  font-size: 16.5px;
  font-family: 'Century Gothic', 'Questrial';
  font-weight: unset;
  margin: 0px 0px 4px 0px;
}
h3::after {
  float: right;
  margin: 0 20px 0 0px;
  font-size: 10px;
  padding-top: 4px;
  font-weight: bold;
  font-style: italic;
}
.top {
  font-size: 15px;
  /*line-height: 1.1;*/
  /*font-family: Garamond;
  font-weight: unset;*/
}
body {
  font-family: 'Helvetica Neue';
  font-weight: 200;
  color: #505457;
}
/*body {
  font-family: 'Old Standard TT', Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, 'source-han-serif-sc', 'Source Han Serif SC', 'Source Han Serif CN', 'Source Han Serif TC', 'Source Han Serif TW', 'Source Han Serif', 'Songti SC', 'Microsoft YaHei', serif;
}*/
blockquote {
  font-family: 'Old Standard TT', Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, 'STKaiti', 'KaiTi', '楷体', 'SimKai', 'DFKai-SB', 'NSimSun', serif;
}
code {
  font-family: Consolas, Courier, "Courier New", 'STKaiti', 'KaiTi', 'SimKai', monospace;
}
pre, code {
  font-size: .95em;
}
sup {
  color: #770505;
  font-weight: bolder;
}
a.footnote-ref {
  text-decoration: none;
}
a.footnote-back {
  color: #770505;
}
.footer .fa-heart-pulse {
  color: #770505;
}
a[target="_blank"]:hover {
  color: #770505;
  text-decoration-line: underline;
}