@media (max-width: 1335px) {
  .navbar-brand > .navbar-title {
    display: inline-block;
    color: transparent;
    width: 0;
  }
}
@media (max-width: 740px) {
  .navbar-title-container {
    font-size: 0;
    width: 0;
  }
}
